%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% See rebar/rebar.config.sample for more options.

{erl_opts, [
           ]}.

%% Dependencies
{deps, [
  %% Format:
  %{dep_name, ".*", {git,"git://github.com/author/project.git", "tag_id"}}

  %% Example:
  %{lager, ".*", {git,"git://github.com/basho/lager.git", "2.0.0"}}

]}.

%% Additional library directories to add to the code path
% TODO: Maybe move the boilerplate source code to somewhere else so the
% plugin author can focus on the key file or files.
{lib_dirs, []}.
