%% Application config: combined_log
%%
%% This is an Erlang application configuration file. Note, CouchDB uses
%% its own configuration using .ini files. Plugin authors probably do
%% not need to change this file.
%%
%% However, this file can be useful to configure dependencies which your
%% plugin uses. Often those dependencies are Erlang applications and
%% they expect a configuration immediately when Erlang starts.

% For example:
[ {my_dependency,
    [ {enable_bugs, false}
    , {relaxed, true}
    ]}

, {other_dependency,
    [ {mode, relaxed}
    , {foo, bar}
    ]}

, {lager,
    [ {handlers,
        [ {lager_file_backend, [{file, "jason.log"}, {level, info}]}
        ]}
    , {error_logger_redirect, false}
    ]}
].
